<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
    <h2>
      from the mocking source of data
    </h2>
    <div>
      <form>
        <select (change)="onChange($event.target.value)">
          <option>choose</option>
          <option *ngFor="let item of customers;">{{item}}</option>
        </select>
      </form>
    </div>  
    <div *ngIf = "installationItems.length != 0">
      <table>
        <tr>
          <th>Installation</th>
          <th>Devices</th> 
        </tr>
        <td>
          <tr *ngFor="let item of installationItems">{{item}}</tr>
        </td>
        <td >
          <tr *ngFor="let item of devicesItems">{{item}}</tr>
        </td>
      </table>
    </div>

</div>


